*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "spartan", sans-serif;

}
#header {
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px 80px;
top: 0;
left: 0;
}
.section-p1 {
    padding: 20px 114px;
}
